TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAACUroQEAAAAA3DZ88y0YHRWMHkQWOcacmnGoKx5qjGVL
TWITTER_CONSUMER_KEY=xoJQ5szo4sNFVGfimJ9kQ
TWITTER_CONSUMER_SECRET=gIlmnAxp9bRWzwZK95NQxeeig3rENLL5fZcUnEgjWV9wbDu
TWITTER_ACCESS_TOKEN=154041314771712-umxsKSgXouSWLQrEfAyYpZhxELcq
TWITTER_ACCESS_TOKEN_SECRET=HvI3zOb3RgBE3RrwJjINJFhFYG68hBhfSAF
TWITTER_DEFAULT_CAPTION="This is my latest post"

TELEGRAM_APP_NAME=rainvid
TELEGRAM_API_ID=7210321
TELEGRAM_API_HASH=a424123380b3a2e3c20b51257243fcq
TELEGRAM_BOT_TOKEN=6101231914:AAEqTVsVl6Y2xQRsb21Nrow4iihxe2A4qFM0
TELEGRAM_STRING_SESSION=BQyIUAE5HEEyE6PSRdqLNh-vuS6csSm6u8IdCykWwZaGfJbdUSyTaACf0M-x-mRiL_mPhMK_Fuu_1odZG9p66jge3lyD_e7eCCcWZgZWuD2PSyCGfGA3oVtdwvaRUjt5iYu1IgblHy4RIIMHGqUsgJ3VuwV53ipl_sAMzCN1hADByqVRBKQAAAAFuVfNaAQ
TELEGRAM_BASE_CHAT_ID=-1001821382131291
TELEGRAM_LOG_CHAT_ID=-100123128938192